
/* Your Recipes */
.card{
    padding:3%;
}

.list-group{
    text-align: left;
    max-height: 400px;
     overflow: scroll; 
}

.close-btn{
    color: red;
}


/* Recipe List */


/*Main Content*/
.card-img{
    max-width: 100%;
    height:auto;
    object-fit: contain;
}

.option-button {
    margin: 5% 3% 5% 0;
    padding:5%;
}

.fa-plus-circle:hover{
 color:#0275d8;
}

.fa-plus-circle{
    margin-right:1%;
}

.fa-minus-circle:hover{
    color:red;
}

.fa-minus-circle{
    margin-right:1%;
}

.recipe-name{
    color:#0275d8;
}

.instruction-text{
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: 'Montserrat-Light',
    sans-serif;
}

i:hover{
    cursor:pointer;
}

.hand-icon:hover{
    cursor:pointer;
}

.close{
    color:red;
}
.close:hover{
    cursor:pointer;
}