
/* Your Recipes */
.card{
    padding:3%;
}

.list-group{
    text-align: left;
    max-height: 400px;
     overflow: scroll; 
}

.close-btn{
    color: red;
}


/* Recipe List */


/*Main Content*/
.card-img{
    max-width: 100%;
    height:auto;
    object-fit: contain;
}

.option-button {
    margin: 5% 3% 5% 0;
    padding:5%;
}
